@font-face {
    font-family: 'Sketch Gothic School';
    src: url('SketchGothicSchool-Regular.woff2') format('woff2'),
        url('SketchGothicSchool-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

