/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* added system fonts */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* 
Write your code below
======================= 
*/
@font-face {
    font-family: 'Typewriter';
    src: url('./Fonts/JMHTypewriter-Regular.woff2') format('woff2'),
        url('./Fonts/JMHTypewriter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'd La Cruz';
    src: url('./Fonts/d-LaCruz.woff2') format('woff2'),
        url('./Fonts/d-LaCruz.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lokeya';
    src: url('./Fonts/Lokeya.woff2') format('woff2'),
        url('./Fonts/Lokeya.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
  --ice-packed-blue:#A9C9E9;
  --ice-baby-blue:#7BC0DF;
  --grey-blue:rgba(74, 127, 163, 0.89);
  --shadow-shallow:0 0 12px -5px rgb(0, 0, 0);
  --shadow-medium:0 0 14px -5px rgb(0, 0, 0);
  --shadow-deep:0 0 15px -4px rgb(0, 0, 0);
}

body{
  height: 98vh;
}
.book-holder{
  display:flex;
  flex-direction:column;
}

.super-container{
  display:grid;
  grid-template-rows: 1fr 6fr;
  height: 100%;
}
#body{
  box-shadow: inset 0 10px 10px -9px rgba(0, 0, 0, 1);
}
#navbar{
  background-color:var(--grey-blue);
  box-shadow:0 5px 30px 1px #000000;

  display:flex;
  align-items: center;
  justify-content: center;

  font-family: "Typewriter";
  font-size:2em;
}

#body{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  padding:max(3vw,30px);
  gap:max(1.5vw,15px);

  background-color:#F8F9FA;

}
#add-book-btn{
  position: absolute;
  bottom:12vh;
  right:4vh;

  width:60px;
  height:60px;

  background-color:rgb(80, 149, 177);
  color:white;
  border-radius:50%;
  border:none;

  font-size:2em;
  font-weight: 600;
  transition: background-color 0.4s;
  
}
#add-book-btn:hover{
  background-color:#8cc1db;
  transition:background-color 0.4s;

  
}

.card{
  max-width:375px;
  max-height: fit-content;
  border-radius: 10px;

  /* background-color:#FFFFFF; */
  background-color:var(--ice-packed-blue);

  box-shadow:var(--shadow-shallow);


  >.book-holder{
      padding:20px;
      border-radius:10px;
      /* background-color:#87CEEB; */
      background-color:var(--ice-baby-blue);

      box-shadow: 0 0 8px -3px #000000;
      transform: scale(1.02);
  }
  >.book-holder:hover{
    outline:3px solid #D0E8F2;
  }

  >h2{
    display: flex;
    justify-content: center;

    letter-spacing: 8px;
    font-family:"d La Cruz",sans-serif;
  }
  
}
.card-content{
  font-family:'Typewriter';
  font-size:1.2em;
}
.card-button-bar{
  display:flex;
  gap:50%;
  padding:2% 10%;
  /* ------- */
  .delete, .toggle{
      width:60px;
      height: 40px;
      border-radius:10px;
      border:1px solid var(--grey-blue);
    }

  /* delete button */
    .delete{
      background-color:#ffd5c1de;
  }
  .delete:hover{
      background-color:#f5693fe1;
      transition: all 0.4s;
      border:1px solid #f5693fab;


  }
  /* toggle button */
  .toggle{
  background-color:#D0E8F2;

  }
  .toggle:hover{
  background-color:#ffffffde;
      border:1px solid #dadadade;

  }
}

dialog {
  height: 40vh;
  width:30vw;
  background-color: #ffffff;
  outline:12px ridge var(--grey-blue);
  border:none;

  font-family:"Lokeya";
  font-size:1.2em;
  font-weight:600;
  letter-spacing: 1.2px;

  /* ----- */
  > form{
      height:100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 1fr;
      align-items: center;
      justify-content: start;
      padding:1% 6%;

      font-size:1em; 
    /* -------- */
      > p{
        display:flex;
        & label{
          flex-grow:1;
          flex-basis:35%;
        }
        & input{
          flex-grow:1;
          width:65%;
          border-radius:10px;
          flex-basis:60%;
          border:1px solid #dadadade;
        }
        & input[type="checkbox"]{
          transform:scale(1);
        }
      }
  }
}
.form-button-bar{
  display: flex;
  gap:1.5vw;
  > button{
    flex-basis:50%;
    border:none;
    border-radius: 15px;
  }
  >#submit-btn{
    color:white;
    background-color:mediumseagreen;
  }
  >#submit-btn:hover, #close-btn:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
  }
}
/* form input pseudo classes */
form{
    & input:focus{
      outline:1px solid var(--grey-blue);
    }
    & input:user-valid{
      border:1px solid green;
    }
    & input:user-invalid{
      border:1px solid red;
    }
}
p ~ span{
  font-size:0.5em;
  flex-grow:0.4;
  color:rgba(255, 0, 0, 0.76);
  visibility: hidden;
}

